.header{
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
}

.App-logo {
    background-color: #ff7f7f;
    height: 35px;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 8s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}